# See https://editorconfig.org/
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,xml}]
indent_size = 4
indent_style = space

[*.{php,py}]
indent_size = 4
indent_style = space

[composer.lock]
indent_size = 4
indent_style = space

[Makefile]
indent_style = tab
